{% extends 'base.html' %}

{% block title %}我的平台 - 集成系统管理平台{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>我的可访问平台</h2>
        <hr>
    </div>
</div>

<div class="row mt-4">
    {% for platform in platforms %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ platform.name }}</h5>
                <p class="card-text">{{ platform.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('user.redirect_to_platform', platform_id=platform.id) }}" class="btn btn-primary" target="_blank">访问平台</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-info">
            您目前没有可访问的平台。请联系管理员为您分配平台访问权限。
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
